$mobile-breakpoint: 700px;
.category-boxe-title {
    max-width: 1110px;
    margin: auto;
}

.overrided {
    &-category-boxes {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 0;
        box-sizing: border-box;
        margin-left: -15px;
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
        .controllers {
            .arrow {
                position: absolute;
                display: flex;
                cursor: pointer;
                min-width: 16px;
                height: 100%;
                z-index: 99;
                user-select: none;
                &-left {
                    left: 0;
                }
                &-right {
                    right: 0;
                }
                & > div {
                    margin: auto;
                    display: block;
                    padding: 20px;
                    opacity: 0.5;
                    .d-icon {
                        font-size: 50px;
                        color: var(--primary-medium);
                    }
                }
            }
        }
        .wrapper {
            display: flex;
            flex-wrap: nowrap;
            width: fit-content;
        }
        @media (max-width: $mobile-breakpoint) {
            margin-left: 0;
            width: calc(100vw - 30px);
        }
        .category-box {
            position: relative;
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            box-sizing: border-box;
            border-width: 0;
            border-left-width: 6px;
            border-style: solid;
            border-color: var(--primary-low);
            min-width: 300px;
            &:first-of-type {
                margin-left: 0;
            }
            .logo.aspect-image img {
                display: block;
                width: auto;
                height: 40px;
                margin: 0 auto 1em auto;
            }
            @supports (--custom: property) {
                .logo.aspect-image img {
                    --height: 40px;
                    height: var(--height);
                    width: calc(var(--height) * var(--aspect-ratio));
                    max-width: 100%;
                }
            }
        }
        .category-box-inner {
            box-sizing: border-box;
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;

            border-width: 2px;
            border-left-width: 0;

            border-style: solid;
            border-color: var(--primary-low);
        }
        &.no-logos {
            .logo {
                display: none;
            }
        }
        .category-box {
            width: 23%;
            margin: 0 1% 1.5em 1%;
            user-select: none;
            > a {
                width: 100%;
                padding: 0;
            }
            .category-box-inner {
                padding: 1em;

                .category-logo {
                    float: none;
                    margin: 0;
                }
            }
            .description {
                margin-bottom: 1em;
                text-align: center;
                font-size: $font-0;
                color: var(--primary-med-or-secondary-high);
                position: relative;
                @include line-clamp(4);

                //  allow clicks to fall through the description text to the category below...
                pointer-events: none;
                .overflow {
                    max-height: 6em;
                    div a {
                        //  ...but links in description should still be clickable
                        pointer-events: auto;
                    }
                }
            }
            h3 {
                font-size: $font-up-2;
                margin-bottom: 0.5em;
                margin-top: 0.25em;
                line-height: $line-height-medium;
                text-align: center;
                color: var(--primary);
                overflow: hidden;
            }
            h4 a {
                color: var(--primary);
            }
        }
    }
}
